<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="authority-common" value="https://login.microsoftonline.com/common/" />
    <add key="authority-microsoft" value="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/" />
    <add key="authority-ame" value="https://login.microsoftonline.com/33e01921-4d64-4f8c-a055-5bdaffd5e33d/" />
    <add key="authority-mc" value="https://login.chinacloudapi.cn/a55a4d5b-9241-49b1-b4ff-befa8db00269/" />
    <add key="authority-ff" value="https://login.microsoftonline.us/cab8a31a-1906-4287-a0d8-4eef66b95f6e/" />
    <add key="authority-usnat" value="https://login.microsoftonline.eaglex.ic.gov/70a90262-f46c-48aa-ac4c-37e37f8be1a2/" />
    <add key="authority-ussec" value="https://login.microsoftonline.microsoft.scloud/20ac2fc4-effc-4f76-ba7d-63c5ae134f5f/" />
    <add key="clientAppId-common" value="9dc5f4f8-2cb8-4336-a7ff-a756bd44ba9f" />
    <add key="clientAppId-microsoft" value="9dc5f4f8-2cb8-4336-a7ff-a756bd44ba9f" />
    <add key="clientAppId-ame" value="9dc5f4f8-2cb8-4336-a7ff-a756bd44ba9f" />
    <add key="clientAppId-mc" value="713e2e4b-3775-436e-a591-3fa74d416f9a" />
    <add key="clientAppId-ff" value="3bfd82b0-e868-4dd6-a916-9f18929dd5c6" />
    <!-- TODO define clientAppId-usnat, clientAppId-ussec -->
    <add key="requestTimeoutInMs" value="600000" />
    <add key="retryCount" value="3" />
    <add key="appiduri-local" value="https://microsoft.onmicrosoft.com/bddd96df-9404-4f9f-9680-6dc7abb5a9a4" />
    <add key="appiduri-dev" value="https://microsoft.onmicrosoft.com/bddd96df-9404-4f9f-9680-6dc7abb5a9a4" />
    <add key="appiduri-devussc" value="https://microsoft.onmicrosoft.com/bddd96df-9404-4f9f-9680-6dc7abb5a9a4" />
    <add key="appiduri-int" value="https://microsoft.onmicrosoft.com/2f1290c1-e1e7-49d0-a71f-e5d59f0ce41d" />
    <add key="appiduri-intussc" value="https://microsoft.onmicrosoft.com/2f1290c1-e1e7-49d0-a71f-e5d59f0ce41d" />
    <add key="appiduri-intuse2" value="https://microsoft.onmicrosoft.com/2f1290c1-e1e7-49d0-a71f-e5d59f0ce41d" />
    <add key="appiduri-intuks" value="https://microsoft.onmicrosoft.com/2f1290c1-e1e7-49d0-a71f-e5d59f0ce41d" />
    <add key="appiduri-prod" value="https://microsoft.onmicrosoft.com/954d6020-1129-4cc2-a2bb-47c9366a5b03" />
    <add key="appiduri-produssc" value="https://microsoft.onmicrosoft.com/954d6020-1129-4cc2-a2bb-47c9366a5b03" />
    <add key="appiduri-produks" value="https://microsoft.onmicrosoft.com/954d6020-1129-4cc2-a2bb-47c9366a5b03" />
    <add key="appiduri-produse2" value="https://microsoft.onmicrosoft.com/954d6020-1129-4cc2-a2bb-47c9366a5b03" />
    <add key="appiduri-canary" value="https://microsoft.onmicrosoft.com/d459f6c2-a1e8-4701-9482-7e1a833641ad" />
    <add key="appiduri-canarycbn" value="https://microsoft.onmicrosoft.com/d459f6c2-a1e8-4701-9482-7e1a833641ad" />
    <add key="appiduri-canarycdm" value="https://microsoft.onmicrosoft.com/d459f6c2-a1e8-4701-9482-7e1a833641ad" />
    <add key="appiduri-mc" value="https://ChinaGovCloud.partner.onmschina.cn/genevaSyntheticsApimc" />
    <add key="appiduri-mcbjs" value="https://ChinaGovCloud.partner.onmschina.cn/genevaSyntheticsApimc" />
    <add key="appiduri-mcsha" value="https://ChinaGovCloud.partner.onmschina.cn/genevaSyntheticsApimc" />
    <add key="appiduri-ff" value="https://USGovCloud.onmicrosoft.com/genevaSyntheticsApiff" />
    <add key="appiduri-ffbn" value="https://USGovCloud.onmicrosoft.com/genevaSyntheticsApiff" />
    <add key="appiduri-ffphx" value="https://USGovCloud.onmicrosoft.com/genevaSyntheticsApiff" />
    <add key="appiduri-usnat" value="https://MsUSNatCloud.onms.eaglex.ic.gov/genevaSyntheticsApiex" />
    <add key="appiduri-usnateast" value="https://MsUSNatCloud.onms.eaglex.ic.gov/genevaSyntheticsApiex" />
    <add key="appiduri-usnatwest" value="https://MsUSNatCloud.onms.eaglex.ic.gov/genevaSyntheticsApiex" />
    <add key="endpoint-local" value="https://localhost:44381" />
    <add key="endpoint-dev" value="https://dev.synthetics.trafficmanager.net/" />
    <add key="endpoint-devussc" value="https://syntheticsapi-dev-ussc.azurewebsites.net/" />
    <add key="endpoint-int" value="https://int.synthetics.trafficmanager.net/" />
    <add key="endpoint-intussc" value="https://syntheticsapi-int-ussc.azurewebsites.net/" />
    <add key="endpoint-intuse2" value="https://syntheticsapi-int-use2.azurewebsites.net/" />
    <add key="endpoint-intuks" value="https://syntheticsapi-int-uks.azurewebsites.net/" />
    <add key="endpoint-prod" value="https://prod.synthetics.trafficmanager.net/" />
    <add key="endpoint-produssc" value="https://syntheticsapi-prod-ussc.azurewebsites.net/" />
    <add key="endpoint-produks" value="https://syntheticsapi-prod-uks.azurewebsites.net/" />
    <add key="endpoint-produse2" value="https://syntheticsapi-prod-use2.azurewebsites.net/" />
    <add key="endpoint-canary" value="https://canary.synthetics.trafficmanager.net" />
    <add key="endpoint-canarycbn" value="https://syntheticsapi-canary-cbn.azurewebsites.net" />
    <add key="endpoint-canarycdm" value="https://syntheticsapi-canary-cdm.azurewebsites.net" />
    <add key="endpoint-mc" value="https://mc.synthetics.trafficmanager.cn/" />
    <add key="endpoint-mcbjs" value="https://syntheticsapi-mc-bjs.chinacloudsites.cn/" />
    <add key="endpoint-mcsha" value="https://syntheticsapi-mc-sha.chinacloudsites.cn/" />
    <add key="endpoint-ff" value="https://ff.synthetics.usgovtrafficmanager.net/" />
    <add key="endpoint-ffbn" value="https://syntheticsapi-ff-bn.azurewebsites.us/" />
    <add key="endpoint-ffphx" value="https://syntheticsapi-ff-phx.azurewebsites.us/" />
    <add key="endpoint-usnat" value="https://ex.synthetics.trafficmanager.eaglex.ic.gov/" />
    <add key="endpoint-usnateast" value="https://syntheticsapi-ex-red.appservice.eaglex.ic.gov/" />
    <add key="endpoint-usnatwest" value="https://syntheticsapi-ex-grn.appservice.eaglex.ic.gov/" />
    <!-- domains in USSec are appservice.microsoft.scloud and probably trafficmanager.microsoft.scloud, see https://msazure.visualstudio.com/One/_wiki/wikis/One.wiki/43658/Endpoints -->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Bond.Attributes" publicKeyToken="87e9ead25a117286" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.3.100" newVersion="9.0.3.100" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Bond.IO" publicKeyToken="87e9ead25a117286" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.3.100" newVersion="9.0.3.100" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Bond" publicKeyToken="87e9ead25a117286" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.3.100" newVersion="9.0.3.100" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.8.16603" newVersion="3.19.8.16603" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.8.16603" newVersion="3.19.8.16603" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>